<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8"/>
    <title>Saved Tabs</title>
    <style type="text/css">
    .ItemContainer {
      margin-top: 2em;
      border-top: 1px solid #aaa;
    }
    .ItemTitle {
      display: inline-block;
    }
    h2 {
      display: inline-block;
    }
    ol {
      margin: 0;
      padding-left: 1em;
    }
    textarea {
      display: block;
      width: 40em;
      height: 15em;
    }
    </style>
  </head>

  <body>
    <div id="app">
      <div>
        <h2>🔖 Saved Tabs ({{totalCount}})</h2>
        <label>
          <input type="checkbox" v-model="showUndeletedTab">
          Undeleted tab
        </label>
        <label>
          <input type="checkbox" v-model="showDeletedTab">
          Deleted tab
        </label>
        <button @click="onClickClearDeletedTab">Clear deleted tabs</button>
      </div>


      <p v-if="isStarting">{{startupMessage}}</p>
      <div v-else v-for="saveItem in saveItems"
          v-show="canShowGroup(saveItem)"
          class="ItemContainer">
        <h3 class="ItemTitle">Saved at {{saveItem.savedAt.toLocaleString()}} ({{countTabsOfGroup(saveItem)}})</h3>
        <button @click="onClickOpenAll(saveItem, $event)">✔ Open All</button>
        <button @click="onClickDeleteAll(saveItem, $event)">❌ Delete All</button>

        <button @click="onClickCopyAsText(saveItem, $event)">📋 Text</button>
        <button @click="onClickCopyAsJson(saveItem, $event)">📋 JSON</button>
        <ol>
          <li
            v-for="tab in saveItem.tabs"
            v-show="canShowTab(tab)">
            <app-saved-tab
              :group="saveItem"
              :tab="tab"
              @click-link="onClickLink"
              @click-delete="onClickDelete"
              ></app-saved-tab>
          </li>
        </ol>
      </div>
    
      <div style="background: #eee; padding: 1em; margin-top: 1em;">
        <div>
            <h2>⚙️ Other</h2>
        </div>
        <button @click="onClickCopyAllAsText($event)">📋 Copy all as text</button>
        <button @click="onClickCopyAllAsJson($event)">📋 Copy all as JSON</button>
        <pre v-text="errorText"></pre>
        <div>
          <h3>Import</h3>
          <button @click="onClickImport($event)">Import</button>
          <textarea v-model="importText"></textarea>
        </div>
        <div>
          <h3>Storage Data</h3>
          <textarea v-model="storageData"></textarea>
        </div>
      </div>
    </div>
  </body>
  <script src="vue.2.6.10.js"></script>
  <script src="list.js"></script>
</html>
